./plants
./vscode
cache/
agroflex/settings/local_settings.py
apps/**/__pycache__/
agroflex/__pycache__/
/apps/**/**/__pycache__/
apps/**/**/**/__pycache__/
apps/**/test.py
agroflex/**/__pycache__/
__pycache__/
